@model List<CategoryListDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Kategori /</span> Kategori İşlemleri</h4>

    <div class="card">
        <div class="table-responsive text-nowrap m-3">
            <table class="table table-bordered" id="userTable" width="100%" collspacing="0">
                <thead>
                    <tr>
                        <th>Kategori Adı</th>
                        <th>Açıklaması</th>
                        <th>Aktif Durumu</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Kategori Adı</th>
                        <th>Açıklaması</th>
                        <th>Aktif Durumu</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">
                    @foreach (var cat in Model)
                    {
                        <tr name="@cat.CategoryId">
                            <td>@cat.CategoryName</td>
                            <td>@(cat.Description.Length > 30 ? cat.Description.Substring(0, 30) + "..." : cat.Description)</td>
                            <td>@(cat.IsActive ? "Aktif" : "Aktif Değil")</td>
                            <td>
                                <a class="btn btn-primary btn-sm" data-id="@cat.CategoryId" asp-area="Admin" asp-controller="Category" asp-action="ActiveCategory" asp-route-CategoryId="@cat.CategoryId"><i class="ti ti-check"></i></a>
                                <a class="btn btn-dark btn-sm" data-id="@cat.CategoryId" asp-area="Admin" asp-controller="Category" asp-action="PassiveCategory" asp-route-CategoryId="@cat.CategoryId"><i class="ti ti-ban"></i></a>
                                <a class="btn btn-warning btn-sm" data-id="@cat.CategoryId" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-CategoryId="@cat.CategoryId"><i class="ti ti-pencil"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@cat.CategoryId" asp-area="Admin" asp-controller="Category" asp-action="DeleteCategory" asp-route-CategoryId="@cat.CategoryId"><i class="ti ti-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/userList.js" type="application/ecmascript"></script>
}